body {
	margin: 0;
	line-height: normal;
}


:root {
	
	--text-button-size: 20px;
	--text-normal-size: 15px;
	--h2-size: 40px;
	--h1-size: 120px;
	
	--color-accent: #f5c451;
	--color-text: #023748;
	
	--gap-normal: 20px;
	--gap-medium: 16px;
	--gap-min: 8px;
	--gap-big: 24px;
	
	
	--padding-bottom-header: 40px;
	--padding-blocks: 80px;
	--padding-big: 16px;
	--padding-min: 4px;
	--padding-medium: 8px;
	
	--border-radius-normal: 5px;
	--border-radius-large: 100px;
	
}