.text-menu-header {
	position: relative;
	line-height: 130%;
	color: inherit;
	text-decoration: none;
}
.menu {
	position: absolute;
	top: 0px;
	left: calc(50% - 190px);
	border-radius: var(--border-radius-normal);
	border: 1px solid var(--color-text);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: var(--padding-medium) var(--padding-big);
	gap: var(--gap-big);
}
.button-sign-up {
	float: right;
	border-radius: var(--border-radius-normal);
	border: 1px solid var(--color-text);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: var(--padding-medium) var(--padding-big);
	font-size: 16px;
	background-color: #F5C451;
    color: #023748;
    line-height: 135%;
}
.logo-icon {
	width: 38px;
	height: 38px;
	overflow: hidden;
}
.header {
	align-self: stretch;
	position: relative;
	height: 38px;
}
.header-title {
	align-self: stretch;
	position: relative;
	font-size: var(--h1-size);
	line-height: 85%;
	text-align: center;
	margin: 0 auto;
}
.h1-header {
	align-self: stretch;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	gap: var(--gap-medium);
}
.main-picture-icon {
	width: 964px;
	position: relative;
	height: 755px;
	object-fit: cover;
	margin-top: -34px;
}
.cover {
	align-self: stretch;
	background-color: var(--color-accent);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	padding: var(--padding-bottom-header) var(--padding-blocks);
}
.header2 {
	align-self: stretch;
	position: relative;
	line-height: 90%;
	margin: 0;
	font-size: 1em;

}
.mashed-chicken-icon {
	width: 225px;
	position: relative;
	height: 235px;
	object-fit: cover;
}
.mash-header {
	align-self: stretch;
	position: relative;
	line-height: 100%;
	font-weight: 600;
	font-size: 1em;
}
.text-normal-card {
	align-self: stretch;
	position: relative;
    margin: 0;
	font-size: var(--text-normal-size);
	line-height: 130%;
}
.card-header-text {
	align-self: stretch;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	gap: var(--gap-min);
}
.button-price {
	width: 72px;
	border-radius: var(--border-radius-normal);
	background-color: var(--color-accent);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: var(--padding-min);
	box-sizing: border-box;
	border: none;
    color: #023748;
    font-family: Rubik;
    line-height: 100%;
    font-weight: 600;
    font-size: 20px;
}
.card-mashed-chicken {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	gap: var(--gap-big);
}
.card-mashed-turkey {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: var(--gap-big);
}
.mashed {
	align-self: stretch;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
	gap: var(--gap-normal);
	font-size: var(--text-button-size);
}
.natural-purees {
	align-self: stretch;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	padding: 0px var(--padding-blocks);
	gap: 40px;
	text-align: center;
	font-size: var(--h2-size);
}
.phone-icon {
	width: 24px;
	position: relative;
	height: 24px;
	overflow: hidden;
	flex-shrink: 0;
}
.text-phone {
	position: relative;
	line-height: 130%;
}
.phone {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	gap: var(--gap-min);
}
.mail {
	padding-top: var(--padding-big);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	gap: var(--gap-min);
}
.telegram {
	border-radius: var(--border-radius-large);
	background-color: var(--color-accent);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	padding: var(--padding-min);
}
.social-networks {
	padding-top: var(--padding-big);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	gap: var(--gap-medium);
}
.contacts {
	flex: 1;
	position: relative;
	height: 112px;
}
.text-menu-bottom {
	align-self: stretch;
	position: relative;
	line-height: 130%;
    color: inherit;
	text-decoration: none;
}
.menu-bottom {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 12px;
}
.order-header {
    align-self: stretch;
    position: relative;
    line-height: 100%;
    font-weight: 600;
    }
    .text-phone-order {
    line-height: 130%;
    display: inline-block;
    width: 218px;
    }
    .phone-input {
    align-self: stretch;
    position: relative;
    border-bottom: 1px solid #023748;
    box-sizing: border-box;
    height: 23px;
    font-size: 15px;
    color: rgba(2, 55, 72, 0.6);
    }
    .header-input {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-medium);
    }
    .button-order {
	margin-top: 8px;
    border-radius: 5px;
    background-color: #f5c451;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 6px 16px;
    line-height: 100%;
    font-size: 1em;
    font-weight: 600;
    border: none;
    color: #023748;
    }
    .order {
    flex: 1;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-big);
    text-align: left;
    font-size: 20px;
    color: #023748;
    font-family: Rubik;
    }
.footer {
	align-self: stretch;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	padding: 0px var(--padding-blocks);
	gap: var(--gap-normal);
}
.main-container {
	width: 100%;
	position: relative;
	background-color: #f4fdff;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	padding: 0px 0px var(--padding-bottom-header);
	box-sizing: border-box;
	gap: 80px;
	text-align: left;
	font-size: var(--text-normal-size);
	color: var(--color-text);
	font-family: Rubik;
}